<!DOCTYPE html>
<html lang="en">

<head>
    <!-- icon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- socketio -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha512-v8ng/uGxkge3d1IJuEo6dJP8JViyvms0cly9pnbfRxT6/31c3dRWxIiwGnMSWwZjHKOuY3EVmijs7k1jz/9bLA==" crossorigin="anonymous"></script>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- google Material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   
    <!-- custom css -->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='chatroom.css')}}">

    <script type="text/javascript"> 
        var myRoomID = "{{room_id}}"; 
        var myName = "{{display_name}}"; 
        var audioMuted = "{{mute_audio}}"=="1";
        var videoMuted = "{{mute_video}}"=="1";
        console.log(">> {{mute_audio}}, {{mute_video}}", audioMuted, videoMuted);
    </script>
    <script src="{{url_for('static', filename='chatroom_ui.js')}}"></script>
    <script src="{{url_for('static', filename='chatroom_networking.js')}}"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caller ID [{{room_id}}]</title>
</head>

<body>
    <!-- Navbar Section -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Coderbox</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                 <li class="nav-item active">
                    <a style="color:#000000;" class="nav-link" href="/">Home</a>
                </li>
               
                <li class="nav-item">
                    <a class="/logout" href="#contact">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Heading Section -->
    <div class="heading mb-4">
       
        <div class="room-info">
            
            <h5>You have joined as <span class="heading-mark">{{display_name}}</span></h5>
            <div>Ask your friends to join using the caller id: <span class="heading-mark">{{room_id}}</span></div>
            <div id="room_link"></div>
        </div>
    </div>

    <!-- Video Chat Section -->
    <div class="container-fluid px-0 mx-0">
        <div id="video_grid" class="row justify-content-center video-grid">
            <div id="video_item" class="col-6 col-md-4 col-lg-3 mb-4">
                <div class="vid-wrapper">
                    <video id="local_vid" autoplay muted></video>
                </div>
            </div>
        </div>

        <!-- Centered Control Box -->
        <div id="control_box" class="row control-box shadow d-flex justify-content-center align-items-center">
            <div class="col-12 d-flex justify-content-center align-items-center button-box">
                <button id="bttn_mute" class="btn btn-lg btn-outline-secondary rounded-circle">
                    <span id="mute_icon" class="material-icons pt-2">
                        mic
                    </span>
                </button>
                <button id="bttn_vid_mute" class="btn btn-lg btn-outline-secondary rounded-circle">
                    <span id="vid_mute_icon" class="material-icons pt-2">
                        videocam
                    </span>
                </button>
                <button id="call_end" class="btn btn-lg btn-danger rounded-circle">
                    <span class="material-icons pt-2">
                        call_end
                    </span>
                </button>
            </div>
        </div>
    </div>
	<div>&nbsp;</div>

    <!-- Footer Section -->
    <footer class="footer bg-dark text-white text-center py-3">
        <p>&copy; 2025 Video Chat App. All rights reserved.</p>
        <p>Developed with ❤️ by Your Name</p>
    </footer>

</body>

</html>
